.row.radiorow
  .col-md-4
    button.radios.radioenable(style="width: 100%") Informationen
  .col-md-8
    button.radios(style="width: 50%") Rennergebnisse
    button.radios(style="width: 50%") Gesamtwertung
    
div(ng-show="information")
  .row
    .panel(ng-repeat="titles in informationList track by $index")
      .panel-heading {{titles[0]}}
      ul.list-group
        li.list-group-item(ng-repeat="items in titles track by $index" ng-if="$index > 0") {{items}}
