extends layout

block body
  script(type='text/javascript' src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js")
  script(type='text/javascript' src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js")
  div(ng-app='xgsr' ng-controller='page-ctrl')
    nav.navbar.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle(type="button" data-toggle="collapse" data-target="#myNavbar")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="#") GSRx
        #myNavbar.collapse.navbar-collapse(style="visibility: hidden")
          ul.nav.navbar-nav
            li
              a(href="") Events
          ul.nav.navbar-nav.navbar-right
            li.dropdown(ng-repeat="items in nav track by $index")
              a.dropdown-toggle(data-toggle="dropdown" href="#") 
                | {{items}} 
                span.caret
              ul.dropdown-menu
                li
                  button(ng-click='info($index)') Informationen
                li
                  button(ng-click='results($index)') Rennergebnisse
                li
                  button(ng-click='standings($index)') Wertungen
    #page-content.container(style="visibility: hidden")
      div(ng-show='eventsView')
        p Events
        
      div(ng-show='infoView')
        .panel.serieInformation(ng-repeat="items in infoA track by $index")
          .panel-heading {{items[0]}}
          .panel-body 
            ul
              li(ng-repeat="listitems in items track by $index" ng-if="$index>0") {{listitems}}
              
      div(ng-show='resultsView')
        .selectResults
          button.btnResults(ng-repeat="items in btnRaces track by $index" type="button" ng-click="getResults($index)") {{items[0][0]}}
            
        div(ng-show='raceResultView')
            .panel.raceInformation 
              .panel-heading {{raceResults[0][2]}} - {{raceResults[0][1]}}
              .panel-body 
                ul
                  li(ng-repeat="items in raceResults[0] track by $index" ng-if="$index>2") {{items}}
            table.Table
              tr
                th(style="color:#cccccc") {{raceResults[1][0]}}
                th.gone(style="color:#cccccc") {{raceResults[1][1]}}
                th(style="color:#cccccc") {{raceResults[1][2]}}
                th(style="color:#cccccc") {{raceResults[1][3]}}
                th.gone(style="color:#cccccc") {{raceResults[1][4]}}
                th.gone(style="color:#cccccc") {{raceResults[1][5]}}
                th.gone(style="color:#cccccc") {{raceResults[1][6]}}
                th.gone(style="color:#cccccc") {{raceResults[1][7]}}
                th(style="color:#cccccc") {{raceResults[1][8]}}
              tr(ng-repeat="items in raceResults track by $index" ng-if="$index>1")
                td(style="color:#00ffff") {{items[0]}}
                td.gone(style="color:#f7ce3e") {{items[1]}}
                td {{items[2]}}
                td {{items[3]}}
                td.gone {{items[4]}}
                td.laptime.gone(style="color:#f7ce3e") {{items[5]}}
                td.laptime.gone(style="color:#f7ce3e") + {{items[6]}}
                td.laptime.gone(style="color:#f7ce3e") {{items[7]}}
                td(style="color:#cc0000") {{items[8]}}
            //- div(ng-repeat="items in raceResults track by $index")
            //-   p {{items}}
        
      div(ng-show='standingsView')
        .selectStanding
          button.btnStandings(ng-repeat="items in btnStanding track by $index" type="button" ng-click="getStanding($index)") {{items[0][0]}}
          
        div#StandingView(ng-show='standingdriverResultView')
          table.Table
            tr
              th(style="color:#cccccc") {{Standing[1][0]}}
              th(style="color:#cccccc") {{Standing[1][1]}}
              th.gone(style="color:#cccccc" ng-repeat="items in Standing[1] track by $index" ng-if="$index>2") {{items}}
              th(style="color:#cccccc") {{Standing[1][2]}}
            tr(ng-repeat="items in Standing track by $index" ng-if="$index>1")
              td(style="color:#00ffff") {{items[0]}}
              td {{items[1]}}
              td.gone(style="color:#f7ce3e" ng-repeat="item in items track by $index" ng-if="$index>2") {{item}}
              td(style="color:#cc0000") {{items[2]}}
              
              
        div#StandingView(ng-show='standingteamResultView')
          table.Table
            tr
              th(style="color:#cccccc") {{Standing[1][0]}}
              th(style="color:#cccccc") {{Standing[1][1]}}
              th(style="color:#cccccc") {{Standing[1][2]}}
              th.gone(style="color:#cccccc" ng-repeat="items in Standing[1] track by $index" ng-if="$index>3") {{items}}
              th(style="color:#cccccc") {{Standing[1][3]}}
            tr(ng-repeat="items in Standing track by $index" ng-if="$index>1")
              td(style="color:#00ffff") {{items[0]}}
              td {{items[1]}}
              td.gone {{items[2]}}
              td.gone(style="color:#f7ce3e" ng-repeat="item in items track by $index" ng-if="$index>3") {{item}}
              td(style="color:#cc0000") {{items[3]}}
        
        
        
        
  script(type='text/javascript' src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.1.min.js')
  script(type='text/javascript' src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
  script(type='text/javascript' src='/javascripts/xgsr.js')
  script(type='text/javascript' src='/javascripts/controller.js')
