extends layout

block body
  script(type='text/javascript' src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js")
  script(type='text/javascript' src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js")
  div(ng-app='xgsr' ng-controller='page-ctrl')
    nav.navbar.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle(type="button" data-toggle="collapse" data-target="#myNavbar")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="#") GSRx
        #myNavbar.collapse.navbar-collapse(style="visibility: hidden")
          ul.nav.navbar-nav
            li
              a(href="") Events
          ul.nav.navbar-nav.navbar-right
            li.dropdown(ng-repeat="items in nav")
              a.dropdown-toggle(data-toggle="dropdown" href="#") 
                | {{items}} 
                span.caret
              ul.dropdown-menu
                li
                  button(ng-click='info($index)') Informationen
                li
                  button(ng-click='results($index)') Rennergebnisse
                li
                  button(ng-click='standings($index)') Wertungen
    #page-content.container
      div(ng-show='eventsView')
        p Events
      div(ng-show='infoView')
        p Informationen
      div(ng-show='resultsView')
        p Ergebnisse
      div(ng-show='standingsView')
        p Wertungen
        
  script(type='text/javascript' src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.1.min.js')
  script(type='text/javascript' src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
  script(type='text/javascript' src='/javascripts/xgsr.js')
  script(type='text/javascript' src='/javascripts/controller.js')
