/*Overall design*/
body {
  font: 14px "Armata";
  background-color: #1a2930;
}

a {
  text-decoration: none;
  color: #fff;
}

/*navbar design*/
nav {
  background-color: #0a1612;
}

.navbar-brand {
  color: #f7ce3e;
}

.dropdown-menu {
  background-color: #0a1612;
}

.dropdown-menu>li>button {
  color: #fff;
  background-color: #0a1612;
  border: none;
  width: 100%;
  height: 40px;
}

.dropdown-menu>li>button:focus,
.dropdown-menu>li>button:hover,
.dropdown-menu>li>button:active {
  outline: none;
  background-color: #f7ce3e;
  color: #0a1612;
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
  background-color: #f7ce3e;
  color: #0a1612;
}

.nav>li>a:focus, .nav>li>a:hover {
    background-color: #f7ce3e;
    color: #0a1612;
}

/*content design*/

#page-content {
  margin-top: 50px;
  padding: 15px;
  color: #fff;
}

/*Event side*/


/*Information side*/
.serieInformation {
  width: 48%;
  margin: 1%;
  display: inline-table;
}

.panel {
  background-color: transparent;
  color: #fff;
  border: 1px solid #0a1612;
  border-radius: 0px;
}

.panel-heading {
  background-color: #0a1612;
  color: #f7ce3e;
}

/*result side*/
.selectResults {
  text-align: center;
}

.btnResults {
  width: 10%;
  height: 50px;
  background-color: transparent;
  border: 1px solid #0a1612;
  color: #fff;
  outline: none;
}

.btnResults:focus,
.btnResults:hover,
.btnResults:active {
  background-color: #0a1612;
  color: #f7ce3e;
}

.raceInformation {
  width: 98%;
  margin: 1%;
}

.Table {
  width:100%;
  background-color: #0a1612;
}

td,th {
  text-align: center;
  height: 30px;
}

.laptime {
  font-family: "Consolas";
}

/*standing side*/
.btnStandings {
  width: 45%;
  height: 50px;
  background-color: transparent;
  border: 1px solid #0a1612;
  color: #fff;
  outline: none;
}

.btnStandings:focus,
.btnStandings:hover,
.btnStandings:active {
  background-color: #0a1612;
  color: #f7ce3e;
}

.selectStanding {
  text-align: center;
  margin: 1%;
}

/*tablet*/
@media(max-width:768px) {
  .serieInformation {
    width: 98%;
  }
  .btnResults {
    width: 25%;
  }

  .gone {
    display: none;
  }
}
