/*Overall design*/
body {
  font: 14px "Armata";
  background-color: #1a2930;
}

a {
  text-decoration: none;
  color: #fff;
}

/*navbar design*/
nav {
  background-color: #0a1612;
}

.navbar-brand {
  color: #f7ce3e;
}

.dropdown-menu {
  background-color: #0a1612;
}

.dropdown-menu>li>button {
  color: #fff;
  background-color: #0a1612;
  border: none;
  width: 100%;
  height: 40px;
}

.dropdown-menu>li>button:focus,
.dropdown-menu>li>button:hover,
.dropdown-menu>li>button:active {
  outline: none;
  background-color: #f7ce3e;
  color: #0a1612;
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
  background-color: #f7ce3e;
  color: #0a1612;
}

.nav>li>a:focus, .nav>li>a:hover {
    background-color: #f7ce3e;
    color: #0a1612;
}

/*content design*/

#page-content {
  margin-top: 50px;
  color: #fff;
}
