body {
  font: 14px "Armata";
  color: #0f1626;
  background-color: #f5f5f5;
}

a {
  outline: none;
  background-color: #ab987a;
  color: #0f1626;
  border: none;
  text-align: left;
  text-decoration: none;
  display: block;
  width: 100%;
  text-indent: 10px;
}

a:visited,
a:hover,
a:focus,
a:active {
  text-decoration: none;

}

.navbar.navbar-default {
  color: #f5f5f5;
  background-color: #0f1626;
}

.navbar-default .navbar-brand {
  color: #f5f5f5;
  background-color: #0f1626;
}

#sidebar-wrapper {
  top: 50px;
  left: -200px;
  width: 200px;
  position: fixed;
  height: 100%;
  z-index: 1;
  background-color: #ab987a;
}
.sidebar-nav {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 200px;
  list-style: none;
}

.sidebar-nav li {
  line-height: 50px;
}

.sidebar-nav li a:hover {
  background-color: #0f1626;
  color: #f5f5f5;
  border-right: 4px solid #ff533d;
}

.sidebar-dropdown {
  list-style: none;
  padding: 0;
}

.stay:hover,
.stay:focus,
.stay:active {
  background-color: #0f1626;
  color: #f5f5f5;
  border-right: 4px solid #ff533d;
}

.enabled {
  background-color: #0f1626;
  color: #f5f5f5;
  border-right: 4px solid #ff533d;
}

#sidebar-wrapper.sidebar-toggle {
  transition: all 0.3s ease-out;
  margin-left: -200px;
}
@media (min-width: 768px) {
  #sidebar-wrapper.sidebar-toggle {
    transition: 0s;
    left: 200px;
  }
}
